.footer {
  background: var(--bg-color);
  box-shadow: 0 -4px 8px 2px rgba(99, 102, 241, 0.3);
  padding: 40px 0 20px;

  &__list {
    color: var(--slate-500);
  }

  &__link {
    display: block;
    padding: 2px 4px;
    width: 100%;
    transition: color 0.2s;

    &:hover, &:focus {
      text-decoration: none;
      color: var(--brand-500);
    }
  }

  &__title {
    color: var(--text-primary);
  }

  &-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    @media screen and (min-width: 575px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
