- const date = new Date().getFullYear();

footer.footer
  .container.p-t-2.p-b-2
    .d-flex.flex-row.flex-center.w-100.m-b-1
      span.footer__text.slate-500 Generated with create-app
    .d-flex.flex-row.flex-center.w-100
      span.footer__text--bold.text-gradient-soft © #{date} razerspine
