include ~pug-mixins/btn.pug

- const gitHubLink = 'https://github.com/Razerspine/razerspine-stack';

header.header
  .container
    .header__container
      a.header__icon-wrapper(href='/')
        img.header__icon(src='@images/logo.svg' alt='logo' width='35' height='35' loading='lazy')

      .header__actions
        a.btn.btn--icon.btn--icon-medium(
          href=gitHubLink
          target='_blank'
          rel='noopener'
          aria-label='GitHub'
        )
          svg.button-icon.icon--icon-medium(role="img")
            use(xlink:href="#icon-git-hub" href="#icon-git-hub")

        +btn(
          null,
          'icon',
          'icon-medium',
          {
            class: 'js-nav-toggle',
            'aria-label': 'Toggle Navigation'
          },
          'menu'
        )
