- const gitHubLink = "https://github.com/Razerspine/razerspine-stack/tree/main/packages/create-app#readme";

header.header
  .header__row
    .header__col
      .logo
        img.logo__icon(src='@images/logo.svg' alt='logo' loading='lazy')
    .header__col
      a.btn.btn--icon.btn--icon-medium(href=gitHubLink target='_blank')
        svg.button-icon.icon--icon-medium(role="img")
          use(xlink:href="#icon-git-hub" href="#icon-git-hub")
