include ~pug-mixins/btn.pug

nav#drawer.navigation
  +btn(
    null,
    'icon',
    'icon-medium',
    {
      class: 'js-nav-toggle nav-button',
      'aria-label': 'Close Navigation'
    },
    'close'
  )

  .navigation__wrapper
    p.navigation__title.title-h2.text-gradient-soft.m-b-2 Navigation
    ul.navigation__list
      li.navigation__item
        a.navigation__link(href='/') Home
      li.navigation__item
        a.navigation__link(href='/docs.html') Docs
      li.navigation__item
        a.navigation__link(href='/getting-started.html') Getting Started
      li.navigation__item
        a.navigation__link(href='/templates.html') Templates
      li.navigation__item
        a.navigation__link(href='/runtime.html') Runtime
      li.navigation__item
        a.navigation__link(href='/build.html') Build
      li.navigation__item
        a.navigation__link(href='/cli.html') CLI
      li.navigation__item
        a.navigation__link(href='/examples.html') Examples
